body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0F1035;
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #DCF2F1;
    padding: 10px;
    font-family: "PT Serif", serif;
    font-weight: 700;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 30px;
}

nav a {
    text-decoration: navajowhite;
    color: #333;
}

.main-content {
   
    justify-content: space-between;
    margin: 20px;

}

article {
    width: 80%;
}

aside {
    width: 30%;
    background-color: #7FC7D9;
    padding: 10px;
}

div{
    margin-left: 200Px;
    margin-right: 50Px;
    line-height: normal;
    font-size: large;
        font-family: "PT Serif", serif;
        font-weight: 400;
        font-style: italic;
      }
